<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/3e2a6b98-cb77-49dc-8d2f-3d47d771fd4c/resourceGroups/ST10050768IceTask1_group/providers/Microsoft.Web/sites/ST10050768IceTask1</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://st10050768icetask1.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>35bb9c5c-3eb0-4656-8d8e-6a1812c812a7</ProjectGuid>
    <PublishUrl>https://st10050768icetask1.scm.azurewebsites.net/</PublishUrl>
    <UserName>$ST10050768IceTask1</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>