@{
    ViewData["Title"] = "Home Page";
}

<body>
<div class="text-center">
    <h1 class="display-4">Welcome to the SuperHero Agency</h1>
    <p>Here you can view the available heroes as well as their powers in our database.</p>
    <p>You can also do more with our superhero database</p>
</div>

<div class="setCentre">
    <h3 style="text-align:center">Update Hero</h3>
    <div class="info">
    <p>If you feel one of our hero information is incorrect,<br/>
        then you have the ability to update their information<br/>
        to their most recent ones.
    </p>
    <img src="/deadpool.jpg" alt="pic of Deadpool giving thumbs up"/>
</div>
    </div>
    <br/>

    <div class="setCentre">
        <h3 style="text-align:center">Delete Hero</h3>
        <div class="info">
            <p>
                If you feel one of our heros are not actually heroes,<br />
                then you have the ability to delete their information.
            </p>
            <img src="/darkseid.jpg" alt="pic of Darkseid" />
        </div>
    </div>
    <br />

    <div class="setCentre">
        <h3 style="text-align:center">Add Hero</h3>
        <div class="info">
            <p>
                If you feel one of the heros are not available in this database,<br />
                then you have the ability to add them as well as their powers.
            </p>
            <img src="/heroes.jpg" alt="pic of marvel heroes" />
        </div>
    </div>
    <br />

    <div class="setCentre">
        <h3 style="text-align:center">Search Hero</h3>
        <div class="info">
            <p>
                If you feel there are too many heroes<br/>
                and cannot find the one in the database,<br/>
                then you have the ability to search for the hero you want.
            </p>
            <img src="/Batman.png" alt="pic of Batman thinking" />
        </div>
    </div>
    <audio autoplay src="theme.mp3"></audio>
</body>
