@{
    ViewData["Title"] = "Ownership";
}
<h1>@ViewData["Title"]</h1>

<p>This website is property of:</p>
<div style="display:flex;margin: auto; width:50%;">
    <div>
        <img src="/Amanda.png" />
        <h5 style="text-align:center; color: white">Amanda Waller</h5>
    </div>
    <div style="margin-left:50px">
        <img src="/shield.png" />
        <h5 style="text-align:center; color: white">S.H.I.E.L.D</h5>
    </div>
</div>
